<div class="row">
  <div class="col-xs-12">
    <app-blog-item
      *ngFor="let blog of blogs; let i = index"
      [blog]="blog"
      [index]="i"
    >
    </app-blog-item>
  </div>
</div>
<hr />
<div class="row">
  <div class="col-xs-12">
    <app-command-bar></app-command-bar>
  </div>
</div>
<hr />
<div class="row">
  <div class="col-xs-12">
    <button
      type="button"
      class="btn btn-primary me-3"
      (click)="onSaveBlogsData()"
    >
      Save Data
    </button>
    <button type="button" class="btn btn-primary" (click)="onFetchBlogsData()">
      Fetch Data
    </button>
  </div>
</div>
